
<br>

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="To-Pay">
                <div class="card-header">
                    <h5 class="card-title">Credit Balance</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{Cred_bal}}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="Total-Payed">
                <div class="card-header">
                    <h5 class="card-title">Total Payed</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{Tot_pay}}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="Extra-Payed">
                <div class="card-header">
                    <h5 class="card-title">Extra Payed</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{balance}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>

